{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">500 - El servidor a petao no se sabe por que.</h3>
  <img src="/img/cheems-1.webp" alt="cheems" style="max-width:600px;width=100%">
  {{> backhome}}
</div>