{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/cheems-2.webp"
      alt="cheems"
      width="250"
    >
    <div>
      <h2>Hola soy Ámbar</h2>
      <p>
       Una jugadora de league of legends promedio que no destaca en las partidas, pero… pero… pero… siempre vuelvo a jugar. En este blog mediocre veras a los campeones que mas me gustan y otros que no y tu podrás agregar mas según su categoría.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>